.plan{
    .plan-container-title{
        font-size: 25px;
        background-color: #8BC34A;
        color: #ffffff;
        margin: 5px 0;
        padding: 0 2px;
        border-radius: 5px;
    }

    .item-name{
        font-size: 18px;
    }
}